body,
html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.fundo,
.fundo2,
.fundo3 {
    position: relative;
    opacity: 0.70;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.fundo {
    background-image: url(../img/fundo.jpg);
    min-height: 70%;
}

.fundo2 {
    background-image: url(../img/fundo3.jpg);
    min-height: 400px;
}

.fundo3 {
    background-image: url(../img/fundo2.jpg);
    min-height: 400px;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #282334;
    color: #ddd;
}

.subtitulo {
    position: absolute;
    top: 65%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 20px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.titulo {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #111;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.titulo .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
    border-radius: 100px;
}

.titulo .border.trans {
    background-color: #fff;
    color: #000;
    border-radius: 100px;
}

.avatar {
    height: 200px;
    border-radius: 100%;
    border: 3px solid #666;
}

.presentation {
    margin: 0 10%;
}

.sgrid {
    display: grid;
    grid-template-rows: 150px;
    grid-template-columns: 1fr 1fr 1fr;
}

.sgridimg {
    height: 150px;
    border-radius: 100%;
    border: 3px solid #000;
}

.sgridtxt {
    margin-top: 50px;
    font-size: 20px
}

.pgrid {
    display: grid;
    grid-template-rows: 450px 450px;
    grid-template-columns: 50% 50%;
}

.pgridimg {
    width: 90%;
    border: 3px solid #000;
}

.pgridtxt {
    font-size: 20px;
    margin: 0 5%;
}

.footer #button {
    width: 14px;
    height: 14px;
    border: #444 7px solid;
    border-radius: 100%;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.footer #button:hover {
    width: 35px;
    height: 35px;
    border: #3A3A3A 12px solid;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    position: relative;
}

.footer {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 30px;
    overflow: hidden;
    margin: 0 auto;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 999;
}

.footer:hover {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    height: 100px;
}

.footer #container {
    margin-top: 2px;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: #3A3A3A;
}

.footer #cont {
    position: relative;
    top: -30px;
    height: auto;
    margin: 0 auto;
}

.footer_center {
    width: 100%;
    text-align: center;
}

.socials {
    height: 25px;
    margin: 50px 40px;
}

.fgrid {
    display: grid;
    grid-template-rows: 75px;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

@media(max-width:1146px) {
    .pgrid {
        display: grid;
        grid-template-rows: 450px;
        grid-template-columns: 100%;
    }
    .pgridimg {
        width: 90%;
        border: 3px solid #000;
    }
    .pgridtxt {
        font-size: 20px;
        margin: 0 5% 50px;
        text-align: justify;
    }
}

@media(max-width:1000px) {
    .pgrid {
        grid-template-rows: 375px;
    }
}

@media(max-width:700px) {
    .fundo,
    .fundo2,
    .fundo3 {
        background-attachment: scroll;
    }
    .sgrid {
        display: grid;
        grid-template-rows: 120px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .sgridimg {
        height: 100px;
        border-radius: 100%;
        border: 3px solid #000;
        margin: 0 5px;
    }
    .sgridtxt {
        margin: 10px 5px;
        font-size: 16px
    }
    .pgrid {
        grid-template-rows: 250px;
    }
}

@media(max-width:568px) {
    .sgrid {
        grid-template-rows: 100px;
    }
    .sgridimg {
        height: 90px;
    }
    .pgrid {
        grid-template-rows: 190px;
    }
    .pgridtxt {
        font-size: 16px;
    }
}

@media(max-width:450px) {
    body,
    html {
        font-size: 12px;
    }
    .fundo {
        min-height: 40%;
    }
    .fundo2 {
        min-height: 200px;
    }
    .fundo3 {
        min-height: 200px;
    }
    .titulo {
        top: 40%;
        font-size: 10px;
        letter-spacing: 6px;
    }
    .subtitulo {
        top: 55%;
        font-size: 10px;
        letter-spacing: 5px;
    }
    .avatar {
        height: 100px;
    }
    .sgrid {
        grid-template-rows: 40px;
    }
    .sgridimg {
        height: 50px;
    }
    .sgridtxt {
        margin-top: 30px;
        font-size: 12px
    }
    .pgrid {
        grid-template-rows: 120px;
    }
    .pgridimg {
        width: 90%;
    }
    .pgridtxt {
        font-size: 12px;
        margin: 0 5% 50px;
    }
    .socials {
        height: 20px;
        margin: 50px 0px;
    }
    .fgrid {
        display: grid;
        grid-template-rows: 75px;
        grid-template-columns: 33.33% 33.33% 33.33%;
    }
    .section {
        padding: 50px;
    }
}